* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;

}
form{
  position: relative;
  right: -55%;
}
.date{
  color: aliceblue;
  font-family: 'Lobster', cursive;
  position: relative;
  left: 1%;



}
#demo, #dem{
  text-align: center;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  background-image: url("images/blu.jpeg");
    background-size: 5000px;
    backdrop-filter: blur(1rem);
  padding: 70px;
  height: 1000px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}


/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-banner {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px rgba(0, 114, 145, 0.52);
  display: flex;
  justify-content: space-between;
}

.heading {
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 2.2em;

  padding: 0 0 30px 0;
}

.top-banner form {
  position: relative;
  display: flex;
  align-items: center;
}

.top-banner form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

.top-banner form input::placeholder {
  color: currentColor;
}

.top-banner form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;

}


.top-banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}


/* SECTION #2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ajax-section {
  margin: 70px 0 20px;
  width: 100%;
}

.ajax-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  font-family: 'Raleway', sans-serif;

  color: aliceblue;
  grid-template-columns: repeat(7, 1fr);
}

.ajax-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: var(--text_light);
  top: 100px;
  color: var(--text_med);
}

.ajax-section .city::after {
  content: '';
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}

.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ajax-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}

.ajax-section .city sup {
  font-size: 0.5em;
}

.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}

.ajax-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 30px;
  }

  .ajax-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
  form{
    right:0;
    top:150px
  }
  .heading{
    position: relative;
    top:50px;
  }
}

@media screen and (max-width: 700px) {
  .heading,
  .ajax-section .city-temp {
    font-size: 3rem;
  }

  .ajax-section {
    margin-top: 20px;
  }

  .top-banner form {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-banner form input,
  .top-banner form button {
    width: 100%;
  }

  .top-banner form button {
    margin: 20px 0 0 0;
  }

  .top-banner form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }

  .ajax-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 15px;
  }

  .ajax-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}



/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  text-align: right;
  font-size: 1rem;
  color: var(--text_light);
  margin-top: 40px;
}

.page-footer span {
  color: var(--red);
}

small{
  position: absolute;
  right: 25px;
  bottom: 0px;
  font-family: 'Raleway', sans-serif;


}
small a{
  text-decoration: none;
  color: beige;
  text-shadow: 1px 1px rgb(76, 149, 239);
}
small i{
  color: rgba(76, 149, 239, 0.464);
  position: relative;
  margin-right: -1.5px;
  margin-top: 2px;
}
